body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Main Header CSS */

section {
  width: 80%;
  margin: 0 auto;
  min-height: 600px;
  margin-bottom: 20px;
}

.main-header {
  overflow: hidden;
}

.half-width {
  width: 50%;
  float: left;
}

.half-width img {
  width: 100%;
}

h1 {
  color: #333333;
  font-family: 'Yeseva One', cursive;
  font-size: 60px;
  line-height: 45px;
  margin-left: 13px;
}

h1 span {
  color: #516BEB;
}

.main-heading {
  margin-top: 130px;
  border-left: 4px solid #84DFFF;
}

p {
  color: #333333;
  font-size: 18px;
  line-height: 28px;
}

.anchor-btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #84DFFF;
  padding: 12px 38px;
  border-radius: 5px;
  text-transform: capitalize;
}

.anchor-btn:hover {
  background-color: #7cd3f3;
}

.bottom-text p {
  margin-top: 30px;
  color: #333333;
  font-size: 16px;
}

/* Mission CSS */

.mission-area {
  overflow: hidden;
}

h2 {
  color: #333333;
  font-size: 48px;
  text-align: center;
}

h2 span {
  color: #516BEB;
}

h4 {
  color: #333333;
  font-size: 24px;
  text-transform: capitalize;
}

.mission-objectives {
  width: 32%;
  height: 400px;
  float: left;
  padding: 40px 30px;
  background-color: #84DFFF;
  box-sizing: border-box;
  border-radius: 25px;
}

.mission-objectives:nth-child(3) {
  margin: 0 2%;
  background-color: #EDD2F3;
}

.mission-objectives:nth-child(4) {
  background-color: #FFFCDC;
}

.mission-objectives img {
  width: 30%;
}

.mission-objectives p {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

/* Develop Area CSS */

.develop-area .img-area {
  position: relative;
}

.develop-area .img-area .shape {
  position: absolute;
  width: 40%;
  height: auto;
  left: -12%;
  top: 45%;
  transform: translate(-12%, -45%);
  z-index: -1;
}

.develop-area .img-area {
  width: 40%;
  float: left;
  margin-right: 5%;
}

.img-area img {
  width: 100%;
  height: 450px;
  border-radius: 25px;
}

.develop-area .text-area {
  width: 55%;
  overflow: hidden;
}

h3 {
  color: #333333;
  font-size: 36px;
  line-height: 22px;
}

.sharing-area .text-area {
  width: 55%;
  float: left;
  margin-right: 5%;
}

.sharing-area .img-area {
  width: 40%;
  overflow: hidden;
}

/* Sharing Area CSS */

.sharing-area {
  position: relative;
}

.sharing-area .shape {
  position: absolute;
  width: 15%;
  height: auto;
  right: -8%;
  bottom: 15%;
  z-index: -1;
}

/* Contact CSS */

.contact-form {
  width: 50%;
  margin: 0 auto;
}

.contact-form input, textarea {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 2px solid #516BEB;
  outline: none;
  padding: 10px 0;
}

.contact-form input::placeholder {
  color: #7cd3f3;
  font-size: 16px;
}

.contact-form textarea, textarea::placeholder {
  resize: none;
  color: #7cd3f3;
  font-size: 16px;
}

.contact-form input.anchor-btn {
  width: 30%;
  border-bottom: 0;
  cursor: pointer;
}

/* Footer CSS */

.footer-area {
  padding: 15px 0;
  background-color: #0B0D17;
  text-align: center;
}

.footer-area h2 {
  color: #ffffff;
  font-family: 'Yeseva One', cursive;
  font-size: 36px;
}

.footer-area p {
  font-size: 14px;
  color: #D9DBE1;
}

.footer-area a {
  text-decoration: none;
  color: #516BEB;
}